<h1>Tickets</h1>

<% if @tickets.any? %>
  <table>
    <thead>
    <tr>
      <th>User name</th>
      <th>User last name</th>
      <th>User passport ID</th>
      <th>Train number</th>
    </tr>
    </thead>

    <tbody>
      <%= render @tickets%>
    </tbody>

  </table>
<% else %>
<p>You have no tickets</p>
<% end %>

<br>

<%= link_to 'Search page', root_path %>
