<h1>All stations</h1>

<div class ="row">
  <%= form_tag search_ticket_path do %>
      <div class ="col-md-2">
        <p>First Station</p>
        <%= select_tag :base_station, options_from_collection_for_select(@stations, :id, :title), class: "form-control" %>
      </div>
      <div class ="col-md-2">
        <p>Last Station</p>
        <%= select_tag :end_station, options_from_collection_for_select(@stations, :id, :title), class: "form-control"  %>
      </div>
      <div class ="col-md-8">
        <p><br></p>
        <p><%= submit_tag "Search", class: "btn btn-primary" %></p>
      </div>
  <% end %>
</div>
<br>
