<p> Привіт, <%= @user.email%></p>

<p>Ви купили білет на потяг №<%= @ticket.train.number%></p>
<p>Переглянути білет ви можете <%= link_to "тут", @ticket %></p>
<p>Переглянути всі білети ви можете <%= link_to "тут", tickets_url %></p>
